p {
  color: lightgrey;
}

.project1 img {
  width: 500px;
  height: auto;
  max-width: 90%;
  max-height: 75%;
}

.project1 h2{
  color: lightgrey;
  position: relative;
  margin-bottom: 0;
}

.project1 p{
  margin-top: 0;
}

.content1 {
  position: relative;
  top: 100px;
  left: 15%;
  width: 85%;
}

.content1 h1{
  margin: 0;
  font-size: 60px;
  color: white;
  margin-right: 10%;
}

.project1 {
  width: 85%;
  margin: 200px 0px 0px 15%;
}

.project1 img {
  float: left;
}

.summaryBlock {
  margin-top: 2%;
  margin-left: -2%;
  background: rgb(173, 216, 230, .4);
  float: left;
  width: 500px;
  height: 200px;
  max-width: 94.5%;
  max-height: 100%;
}

/* When the screen width is less than 1300 this will take effect */
@media all and (max-width: 1300px) {
    .summaryBlock{
        width: 535px;
    }
}

.summaryBlock h3{
  margin-top: 4%;
  margin-left: 6%;
  margin-bottom: 1%;
  color: white;
  font-size: 40px;
}

.summaryBlock p {
  margin: 0 6% 0 6%;
  font-size: 16px;
}

#code {
  margin-top: 10px;
  color: lightblue;
}

.highlights h2{
  margin-top: 25%;
  left: 5%;
  width: 50%;
}

.highlights p{
  width: 1000px;
  max-width: 85%;
}

.description h2{
  left: 5%;
}

.description p {
  width: 1000px;
  max-width: 85%;
}
