p {
  color: lightgrey;
}

.project1 img {
  width: 500px;
  height: auto;
  max-width: 90%;
  max-height: 75%;
}

.project1 h2{
  color: lightgrey;
  position: relative;
  margin-bottom: 0;
}

#project2{
  text-align: right;
  margin-right: 15%;
}

.project1 p{
  margin-top: 0;
}

.content1 {
  position: relative;
  top: 100px;
  left: 15%;
  width: 85%;
}

.content1 h1{
  margin: 0;
  font-size: 60px;
  color: white;
  margin-right: 10%;
  margin-bottom: 150px;
}

.project1 {
  width: 80%;
  margin: 200px 0px 0px 15%;
}

.project1 img {
  float: left;
}

.summaryBlock {
  margin-top: 2%;
  margin-left: -2%;
  background: rgb(173, 216, 230, .4);
  float: left;
  width: 500px;
  height: 200px;
  max-width: 94.5%;
  max-height: 100%;
}

.summaryBlock2 {
  position: relative;
  margin-top: 2%;
  margin-right: -2%;
  background: rgb(173, 216, 230, .4);
  float: left;
  width: 500px;
  height: 200px;
  max-width: 94.5%;
  max-height: 100%;
  z-index: 2;
}

/* When the screen width is less than 1300 this will take effect */
@media all and (max-width: 1300px) {
    .summaryBlock{
        width: 535px;
    }
    .summaryBlock2{
      width: 535px;
      margin-left: -2%;
    }
}

.summaryBlock h3, .summaryBlock2 h3{
  margin-top: 4%;
  margin-left: 6%;
  margin-bottom: 1%;
  color: white;
  font-size: 40px;
}

.summaryBlock p, .summaryBlock2 p {
  margin: 0 6% 0 6%;
  font-size: 16px;
}

#code {
  margin-top: 10px;
  color: lightblue;
}

.highlights h2{
  margin-top: 25%;
  left: 5%;
  width: 50%;
}

.highlights p{
  width: 1000px;
  max-width: 85%;
}

.description h2{
  left: 5%;
}

.description p {
  width: 1000px;
  max-width: 85%;
}

.projectlist{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%;
}

.project1list {
  position: relative;
  width: 325px;
  height: 325px;
  background: rgb(44,107,122);
  border-radius: 5px;
  float: left;
}

a{
  margin: 0% 1% 2% 1%;
}

.project1list h2{
  position: relative;
  font-weight: 800;
  font-size: 20px;
  top: 25%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  color: white;
  font-family: 'Arial'
}

.sums {
  position: relative;
  top: 25%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-family: 'Arial'
  color: grey;
}

.codes{
  position: absolute;
  bottom: 10%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-size: 13px;
  font-family: 'Arial';
  color: lightblue;
}

.project1list:hover {
  transform: translateY(-10px);
  cursor: default;
}

.arrow1{
  position: absolute;
  left: 14%;
  top: 14%;
}

.arrow2{
  position: absolute;
  left: 75%;
  top: 14%;
}

.arrow1 img {
  width: 100px;
  height: 100px;
  transform: rotateZ(180deg)
}

.arrow2 img {
  width: 100px;
  height: 100px;
}
