.navbar {
  position: fixed;
  top: 0;
  margin: 0;

  width: 100%;
  height: 75px;
}

.nav_bar_element {
    float: left;
    height: 100%;
}

.page_links {
  width: 30%;
  height: 100%;
  justify-content: center;
}
